{% extends 'base.html.twig' %}

{% block body_class %}signin-body{% endblock %}

{% block title %}BlaBlaArticle - Регистрация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ 'Register' | trans }}</h5>
                        {% if app.session.flashBag.peek('flash_register') | length > 0 %}
                            <div class="alert alert-success" role="alert">
                                {% for message in app.flashes('flash_register') %}
                                    <p class="mb-0">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% include 'blocks/profile_form.html.twig' with {'form': registerForm, 'registerForm': true} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
