{% extends 'email/base.html.twig' %}

{% block content %}
    <div class="content">
        <table>
            <tr>
                <td>
                    <h1>Сброс пароля</h1>
                    <p class="lead">Для сброса пароля нажмите на кнопку.</p>
                    <a class="btn"
                       href="{{ url('app_change_password', {'code': user.confirmationCode}) }}">
                        Сбросить пароль
                    </a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
